@import "../utils/variables", "../utils/mixins";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: $background-grey;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: 1.2rem;
  opacity: 0.6;
}

h1 {
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    @include flex-center;
  }

  @media only screen and (min-width: 1025px) {
    @include flex-center;
  }
}

footer {
  background: $background-footer;
  padding: 25px 10px;
}
