@import "./base/reset", "./base/typography";
@import "./components/cards", "./components/loader", "./components/buttons",
  "./components/animations", "./layout/main";
@import "./layout/header", "./layout/footer";
@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/keyframes";
@import "./utils/maps";

// <div style="display: flex; margin: 0 20px 0 20px">

//             <article style="display: flex; width: 100%;">
//                 <div
//                     style="display:flex; justify-content:end; background-image: url('/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg'); background-size: cover; width: 100%; height: 180px;">
//                     <div style="display:flex;padding: 5px; color: white; background: greenyellow;">NEW</div>
//                 </div>

//             </article>
//         </div>

.restaurant__card__img {
  background: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  @include homepage-restaurant-card;
  &--note {
    background: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    @include homepage-restaurant-card;
  }
  &--francaise {
    background: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    @include homepage-restaurant-card;
  }
  &--delice {
    background: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    @include homepage-restaurant-card;
  }
}

.img__caption {
  @include flex-center;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  height: 30px;
  color: $img-caption;
  background-color: $tertiary-color;
}
