@import "./base/reset", "./base/typography";
@import "./components/cards", "./components/loader", "./components/buttons",
  "./components/animations", "./layout/main";
@import "./layout/header", "./layout/footer";
@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/keyframes";
@import "./utils/maps";

// https://brianthiely.github.io/BrianThiely_3_13062021 Projet 3 pour inspiration

// sass-autoprefixer

// <div style="display: flex; margin: 0 20px 0 20px">

//             <article style="display: flex; width: 100%;">
//                 <div
//                     style="display:flex; justify-content:end; background-image: url('/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg'); background-size: cover; width: 100%; height: 180px;">
//                     <div style="display:flex;padding: 5px; color: white; background: greenyellow;">NEW</div>
//                 </div>

//             </article>
//         </div>
