@import "./base/reset", "./base/typography";
@import "./components/cards", "./components/loader";
@import "./layout/header", "./layout/footer";
@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/keyframes";
@import "./utils/maps";

.location__block {
  display: flex;
  justify-content: center;
  background-color: $background-grey;
  margin-top: 3px;
  padding: 10px 0;
  opacity: 0.7;
  @media only screen and (min-width: 1025px) {
    padding: 20px 0;
  }
}

.marker__icon {
  margin-right: 20px;
}

.location__block__text {
  display: flex;
  align-items: center;
}

.location__block__text__spec {
  font-weight: 500;
}

.reservation__howTo__block {
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $background-white;
  }

  @media only screen and (min-width: 1025px) {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}

.nav__menu {
  background-color: $background-grey;
  padding: 20px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    width: 50%;
    order: 2;
  }
  @media only screen and (min-width: 1025px) {
    width: 50%;
    order: 2;
  }
}

.nav__menu__title {
  @media only screen and (min-width: 1025px) {
    font-size: 2rem;
  }
}

.nav__menu__title__sub {
  font-weight: 400;
  opacity: 0.5;
  font-size: 1rem;
  padding-bottom: 20px;
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    font-size: 1.2rem;
  }

  @media only screen and (min-width: 1025px) {
    font-size: 1.5rem;
  }
}

.btn__radient {
  cursor: pointer;
  width: 65%;
  height: 45px;
  // padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 5px lightslategrey;
  background: $btn-color;
  color: $background-white;
  &:hover {
    filter: brightness(110%);
  }
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    font-size: 1.2rem;
    margin-top: 20px;
    width: 70%;
  }
  @media only screen and (min-width: 1025px) {
    font-size: 1.5rem;
    height: 60px;
    margin-top: 20px;
  }
}

.contain__howTo__block {
  padding: 20px;
  background: $background-white;
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    width: 50%;
  }
  @media only screen and (min-width: 1025px) {
    width: 50%;
  }
}

.howTo__block {
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media only screen and (min-width: 1025px) {
    display: flex;
    flex-direction: column;
    margin: 0 90px;
  }
}

.functionning__menu__list {
  margin-left: 10px;
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
  }

  @media only screen and (min-width: 1025px) {
  }
}

.functionning__menu__btn__main {
  margin-bottom: 10px;
  :hover {
    background: #e4d5f6;
  }
  :hover .btn__icon {
    color: $primary-color;
    opacity: 1;
  }
  @media only screen and (min-width: 1025px) {
  }
}

.btn__number {
  width: 30px;
  height: 30px;
  color: $background-white;
  border-radius: 20px;
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  margin: 0 1.5rem 0 -12px;
}

.functionning__menu__btn {
  width: 100%;
  height: 80px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  background: $background-grey;
  padding-right: 30px;
}

.btn__icon {
  opacity: 0.5;
  margin: 0 20px 0 -5px;
}

.container {
  margin: 0 10px;
  padding: 30px 0px;
}

h1 {
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    @include flex-center;
  }

  @media only screen and (min-width: 1025px) {
    @include flex-center;
  }
}

.display__card {
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  @media only screen and (min-width: 1025px) {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.heart__anim {
  position: relative;
  margin-top: 5px;
  font-size: 1.5rem;
  opacity: 1;
  &:hover .fade__out {
    animation: fade-out 0.4s both;
  }
  &:hover .fill__in {
    animation: fill-up 0.4s cubic-bezier(0, 0.3, 0.6, 1) both;
  }
}

.fill__in {
  background: -moz-linear-gradient(150deg, #ff79da, #9356dc);
  background: -webkit-linear-gradient(150deg, #ff79da, #9356dc);
  background: linear-gradient(150deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  right: 0px;
  opacity: 0;
  color: $btn-color;
}

.restaurant__card__location {
  opacity: 0.6;
  margin: -5px 0 10px 0;
}

footer {
  background: $background-footer;
}

.logo__footer--white {
  width: 8rem;
  margin-bottom: 20px;
  filter: invert(1);
}

.footer__menu {
  color: $background-white;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
  @media only screen and (min-width: 1025px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.footer__icon {
  margin-right: 10px;
}

.icon__text {
  margin-left: 7px;
}

.footer__option {
  margin-bottom: 10px;
  :hover {
    font-style: italic;
  }
}

.fa-handshake {
  transform: rotate(-45deg);
}

// SASS Restaurants Pages
.logo__main__page {
  @include flex-center;
}

.fa-arrow-left {
  font-size: 1.5rem;
  position: absolute;
  top: 30px;
  left: 20px;
  &:hover {
    background: -moz-linear-gradient(150deg, #ff79da, #9356dc);
    background: -webkit-linear-gradient(150deg, #ff79da, #9356dc);
    background: linear-gradient(150deg, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.restaurant__main {
  background-color: $background-grey;
}

.container__restaurant {
  margin: 0 10px;
  padding: 30px 0;
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  @media only screen and (min-width: 1025px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

.dish__block {
  @include ellipsis;
}

.restaurant__menu {
  background-color: $background-grey;
  position: relative;
  border-radius: 30px 30px 0 0;
  top: -26px;
}

.background__restaurant__img img {
  @include bG__image;
  &--note {
    @include bG__image;
  }
  &--francaise {
    @include bG__image;
  }
  &--delice {
    @include bG__image;
  }
}

.restaurant__menu__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
  font-size: 16px;
  margin-bottom: -20px;
  padding: 15px 18px 0 15px;
  border-radius: 20px 20px 0 0;
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    justify-content: space-evenly;
  }
  @media only screen and (min-width: 1025px) {
    justify-content: space-evenly;
  }
}

h3 {
  font-size: 1.2rem;
  opacity: 0.6;
}

.border__bottom {
  width: 35px;
  border-bottom: 3px solid $tertiary-color;
  margin-top: -10px;
}

.menu__card {
  display: flex;
  background-color: $background-white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px #ccc;
  @include ellipsis;
  padding: 1em;
  margin: 1em 0;
  animation: card-appear 2s cubic-bezier(1, 0.01, 0, 0.99) both;
  &:hover .check__wrapper {
    margin-right: -1rem;
  }
  &:hover .icon__circle--rotate {
    animation: rotate__icon 0.5s ease both;
  }
  & .dish__info {
    @include ellipsis;
    flex: 1;
  }

  & .dish__name {
    font-size: 1rem;
    font-weight: bolder;
    margin: 0;
    @include ellipsis;
  }

  & .dish__caption {
    font-size: 0.9rem;
    opacity: 0.6;
    margin: 0;
    @include ellipsis;
  }

  & .dish__price {
    font-weight: bold;
    @include flex-center;
    padding-left: 1em;
  }
}

.appear--zero {
  animation-delay: 0s;
}

.appear--one {
  animation-delay: 0.2s;
}

.appear--two {
  animation-delay: 0.4s;
}

.appear--three {
  animation-delay: 0.6s;
}

.appear--four {
  animation-delay: 0.8s;
}

.appear--five {
  animation-delay: 1s;
}

.appear--six {
  animation-delay: 1.2s;
}

.appear--seven {
  animation-delay: 1.4s;
}

.appear--eight {
  animation-delay: 1.6s;
}

.appear--nine {
  animation-delay: 1.8s;
}

.check__wrapper {
  width: 4rem;
  margin: -1rem -5rem -1rem 1rem;
  @include flex_center;
  background-color: $tertiary-color;
  color: $background-white;
  transition: ease-out 0.5s;
}

.icon__circle--rotate {
  font-size: 30px;
}

.order__btn {
  @include flex-center;
  margin: 2rem;
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    padding: 0 15rem;
  }
  @media only screen and (min-width: 1025px) {
    padding: 0 25rem;
  }
}

// faire un .gitignore pour "NODE MODULES" et ".DS STORE"
// /node_modules
// /vendor
// .env
// .env.backup
// npm-debug.log
// yarn-error.log
// /.idea
// /.vscode
// /.DS_Store

// Regarder les boucles pour les anims!!

// https://brianthiely.github.io/BrianThiely_3_13062021 Projet 3 pour inspiration
