// Loader Keyframe
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 9999;
  }

  100% {
    opacity: 0;
    z-index: -1000;
  }
}

@keyframes loader--spinner {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes logo {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

// Menu cards appearance keyframe
@keyframes card-appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Validation icon rotation keyframe
@keyframes rotate__icon {
  0% {
    transform: rotate(180deg) scale(1);
  }

  100% {
    transform: rotate(-360deg) scale(1);
  }
}

// Heart fading when hovered keyframe
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }

  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

//Heart filling up on hover keyframe
@keyframes fill-up {
  0% {
    transform: scaleY(0);
  }

  10% {
    transform: scaleY(0.1);
  }

  20% {
    transform: scaleY(0.2);
  }

  30% {
    transform: scaleY(0.3);
  }

  40% {
    transform: scaleY(0.4);
  }

  50% {
    transform: scaleY(0.5);
  }

  60% {
    transform: scaleY(0.6);
  }

  70% {
    transform: scaleY(0.7);
  }

  80% {
    transform: scaleY(0.8);
  }

  90% {
    transform: scaleY(0.9);
  }

  100% {
    opacity: 1;
    transform-origin: bottom;
  }
}
