// Loader Keyframe
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 10;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loader--spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

// Validation icon pop-up keyframe
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
  }
}

// Validation icon rotation keyframe
@keyframes rotate__icon {
  0% {
    transition: rotate(180deg);
  }

  100% {
    transition: rotate(-180deg);
  }
}
