@import "../utils/keyframes", "../utils/mixins", "../utils/variables";

.heart__anim {
  position: relative;
  margin-top: 5px;
  font-size: 1.5rem;
  opacity: 1;
  &:hover .fade__out {
    animation: fade-out 0.2s both;
  }
  &:hover .fill__in {
    animation: fill-up 0.2s linear both;
  }
}

.fill__in {
  background: -moz-linear-gradient(150deg, #ff79da, #9356dc);
  background: -webkit-linear-gradient(150deg, #ff79da, #9356dc);
  background: linear-gradient(150deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  right: 0px;
  top: 3px;
  opacity: 0;
  color: $btn-color;
}

.check__wrapper {
  width: 4rem;
  margin: -1rem -5rem -1rem 1rem;
  @include flex_center;
  background-color: $tertiary-color;
  color: $background-white;
  transition: ease-out 0.5s;
}

.icon__circle--rotate {
  font-size: 30px;
}

.fa-arrow-left {
  font-size: 1.5rem;
  position: absolute;
  top: 30px;
  left: 20px;
  &:hover {
    background: -moz-linear-gradient(150deg, #ff79da, #9356dc);
    background: -webkit-linear-gradient(150deg, #ff79da, #9356dc);
    background: linear-gradient(150deg, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
