@import "../utils/variables", "../utils/mixins", "../utils/keyframes";

// Homepage's restaurants cards
.display__card {
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  @media only screen and (min-width: 1025px) {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.card {
  width: 100%;
  background-color: $background-white;
  border-radius: 20px;
  margin: 20px 0;
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    width: 40%;
  }

  @media only screen and (min-width: 1025px) {
    width: 40%;
  }
}

.restaurant__card__img {
  background: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  @include homepage-restaurant-card;
  &--note {
    background: url(../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    @include homepage-restaurant-card;
  }
  &--francaise {
    background: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    @include homepage-restaurant-card;
  }
  &--delice {
    background: url(../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    @include homepage-restaurant-card;
  }
}

.img__caption {
  @include flex-center;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  height: 30px;
  color: $img-caption;
  background-color: $tertiary-color;
}

.restaurant__card__info {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 10px;
}

.restaurant__card__name {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 10px 0 0;
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    font-size: 1.2rem;
  }
  @media only screen and (min-width: 1025px) {
    font-size: 1.2rem;
  }
}

.restaurant__card__location {
  opacity: 0.6;
  margin: -5px 0 10px 0;
  @media only screen and (min-width: 576px) and (max-width: 1024px) {
    font-size: 1rem;
  }

  @media only screen and (min-width: 1025px) {
    font-size: 1rem;
  }
}

.menu__card {
  display: flex;
  background-color: $background-white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px #ccc;
  @include ellipsis;
  padding: 1em;
  margin: 1em 0;
  animation: card-appear 2s cubic-bezier(1, 0.01, 0, 0.99) both;
  &:hover .check__wrapper {
    margin-right: -1rem;
  }
  &:hover .icon__circle--rotate {
    animation: rotate__icon 0.5s ease both;
  }
  & .dish__info {
    @include ellipsis;
    flex: 1;
  }

  & .dish__name {
    font-size: 0.8rem;
    font-weight: bolder;
    margin: 0px;
    @include ellipsis;
    @media only screen and (min-width: 576px) and (max-width: 1024px) {
      font-size: 0.9rem;
    }

    @media only screen and (min-width: 1025px) {
      font-size: 1.1rem;
    }
  }

  & .dish__caption {
    font-size: 0.7rem;
    opacity: 0.6;
    margin: 0;
    padding-top: 5px;
    @include ellipsis;
    @media only screen and (min-width: 576px) and (max-width: 1024px) {
      font-size: 0.8rem;
    }

    @media only screen and (min-width: 1025px) {
      font-size: 0.9rem;
    }
  }

  & .dish__price {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding-left: 1em;
  }
}

.appear--zero {
  animation-delay: 0s;
}

.appear--one {
  animation-delay: 0.2s;
}

.appear--two {
  animation-delay: 0.4s;
}

.appear--three {
  animation-delay: 0.6s;
}

.appear--four {
  animation-delay: 0.8s;
}

.appear--five {
  animation-delay: 1s;
}

.appear--six {
  animation-delay: 1.2s;
}

.appear--seven {
  animation-delay: 1.4s;
}

.appear--eight {
  animation-delay: 1.6s;
}

.appear--nine {
  animation-delay: 1.8s;
}
