@import "../utils/variables", "../utils/mixins";

// Homepage's restaurants cards
.card {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
}

.restaurant__card__img img {
  // background: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  @include restaurant-card;
  position: relative;
}

.img__caption {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  font-weight: 600;
  font-size: 12px;
}

.img__caption--box {
  position: absolute;
  top: -150px;
  right: 40px;
  color: rgb(58, 128, 0);
  padding: 5px;
  margin: 10px;
  background-color: $tertiary-color;
}

.restaurant__card__info {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 10px;
}

.restaurant__card__name {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 10px 0 0;
}
